.about-conteiner__list {
    display: flex; 
    justify-content: space-between;
    margin-bottom: 30px;
    margin: 0 auto;
    @media screen and (max-width: 1199px) {
        flex-wrap: wrap;
        justify-content: space-around;
      }
}

.about-conteiner__item {
    @media screen and (max-width: 1199px) {
        flex-basis: calc((100% - 120px) / 2);
    }
    justify-content: center;
    align-items: center;
}

.about-conteiner__wrap {
    background-color: #F5F4FA;
    margin-bottom: 30px; 
    padding: 25px 100px;
    @media screen and (max-width: 767px) {
        width: 450px;
    }
  
}


.about-conteiner__title {
        @include font(14px, 1.14, 0.03em, bold);
        text-transform: uppercase;
        color: var(--second-title-color);
}

.about-conteiner__text {
    @include font(14px, 1.7, 0.03em, normal);
    color: var(--first-text-color);
    margin-top: 10px;
    width: 270px;
    height: 75px;
}