.always-client-title {
    text-align: center;
    @include font(36px, 1.16, 0.03em, bold);
    color: var(--second-title-color);
    margin-bottom: 50px;
    @media screen and (max-width: 1199px) {
        @include font(28px, 1.17, 0.03em, bold);
    }
}

.always-client__list {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
      }
  
      @media screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -15px;
      }
    }

.client__item {
    display: flex;
    width: 170px;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    &:hover {
        border-color: var(--logo-hover-color);
     }
     @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-basis: calc((100% - 120px) / 3);
        margin: 15px;
      }
    
      @media screen and (max-width: 767px) {
        flex-basis: calc((100% - 120px) / 2);
        margin: 15px;
        width: 100%;
      }
    
      @media screen and (min-width: 1200px) {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
      
}
.client__link {
    transition: 250ms var(--cubic);
    display: flex;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 226px;
      }
      @media screen and (max-width: 767px) {
        flex-basis: calc((100% - 120px) / 2)
      }
}

.client__icon {
    fill: #AFB1B8;
    margin: 16px 32px 16px 32px;
    transition: 250ms var(--cubic);
    .client__link:hover & {
        fill: var(--logo-hover-color);
    }
}