body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    justify-content: center;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}