:root {
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --first-text-color: #757575;
    --second-text-color: rgba(255, 255, 255, 0.6);
    --logo-hover-color: #2196F3;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}